
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ngrx-pizza-order-primary: mat-palette($mat-light-blue);
$ngrx-pizza-order-accent: mat-palette($mat-light-green);

// The warn palette is optional (defaults to red).
$ngrx-pizza-order-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ngrx-pizza-order-theme: mat-light-theme(
  (
    color: (
      primary: $ngrx-pizza-order-primary,
      accent: $ngrx-pizza-order-accent,
      warn: $ngrx-pizza-order-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ngrx-pizza-order-theme);

// For Dark theme
$ngrx-pizza-order-primary-dark: mat-palette($mat-orange);
$ngrx-pizza-order-accent-dark: mat-palette($mat-yellow);
$ngrx-pizza-order-warn-dark: mat-palette($mat-red);

$ngrx-pizza-order--dark: mat-dark-theme(
  $ngrx-pizza-order-primary-dark,
  $ngrx-pizza-order-accent-dark,
  $ngrx-pizza-order-warn-dark
);

.dark-theme-mode {
  @include angular-material-theme($ngrx-pizza-order--dark);
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
